<footer class="footer rdk-footer">
    <div class="container-fluid">
      {% if page.lang.value == 'en' %}
        <a href="http://www.ricoh.com/privacy/" target="_blank">Privacy</a> | <a href="http://www.ricoh.com/terms_of_use/" target="_blank">Terms of Use</a> | <a href="{{site.url}}/en/site/" target="_blank">Trademarks</a>
      {% endif %}
      {% if page.lang.value == 'ja' %}
        <a href="http://jp.ricoh.com/privacy/" target="_blank">個人情報保護について</a> | <a href="http://jp.ricoh.com/terms_of_use/" target="_blank">ご利用条件</a> | <a href="http://jp.ricoh.com/terms_of_use/trademark.html" target="_blank">商標について</a>
      {% endif %}
    </div>
    <div class="container-fluid">
        mauro2-inc
    </div>
</footer>
</body>
</html>
