    <meta property="og:title" content="{% if page.title %}{{ page.title | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}"/>
    <meta property="og:image" content="{{site.url}}/img/og.png"/>
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% elsif page.lang.value == 'ja'%}24時間 全天球ライブカム{% else %}The 24-Hour Spherical Live Streaming Camera{% endif %}"/>
    <meta property="og:site_name" content="{{site.title}}"/>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ricohr_ricoh" />
