{% include header.html %}
{% include menu.html %}
<div class="container-fluid rdk-faq">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1>{{ page.title }}</h1>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h2>{{ page.titleusagenotes }}</h2>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <ul>
            {% for data in page.usagenoteslist %}
              <li>{{data}}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h2>{{ page.titlefaq }}</h2>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          {{ content }}
        </div>
        <div class="col-md-2">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
</div>
{% include footer.html %}
